.vscode
.venv
dump.rdb

*user_config*

mpa.egg-info/
# Unit test / coverage reports
__pycache__
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
.reports
/test_log
/data
/logs
venv/
*.so

# Cython generated C-code & html
mpa/modules/datasets/pipelines/transforms/cython_augments/*.c
mpa/modules/datasets/pipelines/transforms/cython_augments/*.html
