recursive-include recipes *
include mpa/modules/datasets/pipelines/transforms/cython_augments/*.pyx
exclude mpa/modules/datasets/pipelines/transforms/cython_augments/*.c
exclude mpa/modules/datasets/pipelines/transforms/cython_augments/*.html
